@media only screen and (max-width:1400px) {}

@media only screen and (max-width:1300px) {}

@media only screen and (max-width:1200px) {
    .nav_con_list ul li a {
        font-size: 16px;
    }

    .chose_btn ul li a {
        font-size: 15px;
    }

    .a_btn {
        width: 230px;
    }

    .temp_form_hldr {
        flex-direction: column;
    }

    .temp_ftr_top {
        gap: 50px;
    }
}

@media only screen and (max-width:1100px) {
    .nav_con_list ul li a {
        padding: 0 12px;
    }

    .temp_ftr_top {
        flex-direction: column;
    }

    .temp_ftr_map {
        max-width: 100%;
    }
}

@media only screen and (max-width:1000px) {

    .toggle_fixed_nav,
    .nav {
        top: 0 !important;
    }

    nav {
        top: 0;
        padding: 0;
    }

    .nav {
        border-radius: 0;
        top: 0;
    }

    .nav_con {
        position: fixed;
        top: 0;
        right: -100%;
        opacity: 0;
        transition: .8s ease;
        visibility: hidden;
        max-width: 100%;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: rgba(12, 23, 36, 0.62);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }

    .nav_con_list {
        width: 300px;
        right: -100%;
        transition: 1s ease;
        background: #fff;
        height: 100%;
        position: absolute;
        right: 0;
        padding: 100px 0 50px;
    }

    .nav_con_list ul {
        flex-direction: column;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        padding: 0 20px;
    }

    .nav_bg {
        display: none;
    }

    .nav_con_list ul li a {
        text-align: center;
        padding: 0;
    }

    .nav_menu_bar {
        display: block;
        position: absolute;
        right: 30px;
    }

    .toggle_nav_con {
        opacity: 1;
        visibility: visible;
        right: 0;
        z-index: 998;
    }

    .toggle_nav_con_list {
        visibility: visible;
        right: 0;
        z-index: 999;
    }

    .chose_btn {
        margin-right: 60px;
    }


    .main_con {
        flex-direction: column;
    }

    .main_info {
        max-width: 100%;
        text-align: center;
    }

    .main_info a {
        margin: 20px auto;
    }

    .main_bg {
        display: none;
    }


    /* temp_btm_con1 */
    .temp_btm1_box {
        width: 48%;
    }

    .temp_btm_list {
        padding-right: 35px;
    }

    .temp_btm_list_con {
        padding-right: 0;
        overflow: hidden;
    }

    .temp_btm_list_con::before {
        top: 30px;
        right: -40px;
    }

    .temp_btm_list_con::after {
        top: 42px;
        right: 0;
        width: 40px;
        height: 40px;
    }

    .temp_contact_con {
        padding-top: 80px;
    }

    .temp_contact_bg {
        display: none;
    }

    .banner {
        background: url(images/bnr_bg_m.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        margin: 0 !important;
    }

    .van_con {
        display: none;
    }

    .bnr_info {
        padding: 50px 25px;
        position: unset;
        transform: none;
        margin: 0;
        max-width: 100%;
        background: rgba(12, 23, 36, 0.85);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

    }

    .temp_btm_con1 {
        padding: 60px 0;
    }

    .main_con {
        padding: 60px 0;
    }

    .temp_btm_hldr2 {
        padding: 60px 25px;
    }

    .temp_btm_con3 {
        padding: 60px 0;
    }

    .temp_btm_hldr3 {
        padding: 0 25px;
    }
}

@media only screen and (max-width:850px) {
    .temp_btm_list_con::before {
        top: 35px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        transform: none;
    }

    .temp_btm_list_con::after {
        top: 42px;
        top: 62px;
        left: 0;
        margin: 0 auto;
        transform: none;
    }

    .temp_btm_list {
        padding-right: 35px;
        padding: 160px 20px 20px;
        text-align: center;
    }
}

@media only screen and (max-width:800px) {


    .temp_mid_box {
        width: 47%;
    }

    .temp_mid_con {
        flex-wrap: wrap;
    }

}

@media only screen and (max-width:700px) {
    .temp_ftrlnks {
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .temp_ftr_nav {
        padding: 15px;
        max-width: 100%;
        width: 46%;
        text-align: center;
    }

    .temp_ftr_nav:nth-child(3) {
        width: 100%;
    }
}

@media only screen and (max-width:600px) {

    .temp_btm1_box {
        width: 100%;
    }

    .temp_btm_list_con {
        width: 100%;
    }

    .bnr_info h2 {
        font-size: 40px;
    }

    .main_info h1 {
        font-size: 50px;
    }

    .heading_theme {
        font-size: 35px;
    }

    .temp_btm_list_con {
        width: 100%;
    }


    .temp_btm1_box {
        width: 100%;
    }

    .ftr_copyright .rtf_dblock {
        display: block;
        line-height: 24px;
    }

    .ftr_copyright q {
        display: none;
    }

}

@media only screen and (max-width:500px) {
    header {
        background: #f8f9fa;
    }

    .chose_btn {
        display: none;
    }

    .hrd_info_d_none {
        display: block;
        /* margin: 10px 0; */
        margin: 0;
        padding: 10px 0;
        border-top: 1px solid #ccc;
    }

    .hrd_info_d_none ul a {
        margin: 0 auto;
    }

}

@media only screen and (max-width:420px) {
    .temp_ftr_nav {
        width: 100%;
    }
}

@media only screen and (max-width:400px) {
    p {
        font-size: 16px;
    }

    .heading_theme {
        font-size: 30px;
    }

    .heading_theme::after,
    .heading_theme::before {
        display: none;
    }

    .main_info h1 {
        font-size: 40px;
    }

    .temp_mid_box {
        width: 100%;
    }
}



@media only screen and (max-width:360px) {}